### Importing Libraries and Functions

In [1]:
import sys
sys.path.append("../")
import overpy
from scripts.amenities_functions import fetch_amenities, get_amenity_distances
from scripts.amenities_functions import get_cities, get_dist_to_city
import pandas as pd

### Accessing Overpass API

In [2]:
# Initialize the Overpass API
overpass_api = overpy.Overpass()

### Reading in the datasets

In [3]:
# Domain datasets
gm_domain_df = pd.read_parquet("../data/curated/properties.parquet")
rv_domain_df = pd.read_parquet("../data/curated/properties.parquet")

# oldlistings datasets
gm_oldlisting_df = pd.read_csv("../data/raw/oldlisting/gm_oldlisting.csv")
rv_oldlisting_df = pd.read_csv("../data/raw/oldlisting/rv_oldlisting.csv")

### Fetching the Amenities Data

In [4]:
# Dictionary storing the queries for different amenities (nodes and ways)
queries = {
    "education": ["""
        node["amenity"="kindergarten"](area.searchArea);
        node["amenity"="school"](area.searchArea);
    """, 
    """
        way["amenity"="kindergarten"](area.searchArea);
        way["amenity"="school"](area.searchArea);
    """],
    "parks_and_gardens": ["""
        node["leisure"="park"](area.searchArea);
        node["leisure"="garden"](area.searchArea);
    """,
    """
        way["leisure"="park"](area.searchArea);
        way["leisure"="garden"](area.searchArea);
    """],
    "train_station": ["""
        node["railway"="station"](area.searchArea);
    """, 
    """
        way["railway"="station"](area.searchArea);
    """],
    "shopping": ["""
        node["shop"="supermarket"](area.searchArea);
        node["shop"="mall"](area.searchArea);
    """, 
    """
        way["shop"="supermarket"](area.searchArea);
        way["shop"="mall"](area.searchArea);
    """],
    "healthcare": ["""
        node["amenity"="hospital"](area.searchArea);
        node["amenity"="clinic"](area.searchArea);
    """,
    """
        way["amenity"="hospital"](area.searchArea);
        way["amenity"="clinic"](area.searchArea);
    """]
}

In [5]:
# Dictionary to store DataFrames for each amenity
amenities_dfs = {}

# Iterate through the queries and fetch data for each
for amenity_type, query in queries.items():
    try:
        df = fetch_amenities(overpass_api, query[0], query[1])
        amenities_dfs[amenity_type] = df
        print(f"Successfully fetched data for {amenity_type}")
    except Exception as e:
        print(f"Error fetching data for {amenity_type}: {e}")

Successfully fetched data for education
Successfully fetched data for parks_and_gardens
Successfully fetched data for train_station
Successfully fetched data for shopping
Successfully fetched data for healthcare

In [6]:
amenities_dfs

{'education':               id                                     name       amenity  \
 0      148544339                        Syndal Pre-School  kindergarten
 1      191834621                       Tally Ho Preschool  kindergarten
 2      207718805                      St Johns Pre-School  kindergarten
 3      246969693             Waverley Foothills Preschool  kindergarten
 4      247169615           Brunswick Cr√®che & Day Nursery  kindergarten
 ...          ...                                      ...           ...
 3475  1315871094  Shine Bright St Margaret's Kindergarten  kindergarten
 3476  1316142653                 St Albans East Preschool  kindergarten
 3477  1318009340             Country Bunch Early Learning  kindergarten
 3478  1318025539                    Montessori Beginnings  kindergarten
 3479  1318235998                   Happy Turtle Childcare  kindergarten

                                  lat                            lon
 0                        -37.8741972                    145.1487815
 1                        -37.8691111                    145.1642861
 2                        -37.8979989                    145.1137432
 3                        -37.9316411                    145.2000972
 4                        -37.7722530                    144.9662900
 ...                              ...                            ...
 3475                    -34.19080758                    142.1574592
 3476  -37.74306644285714285714285714  144.8165961571428571428571429
 3477  -34.23471761666666666666666667                   142.18055925
 3478                    -34.22681335                    142.1609060
 3479  -34.20066442222222222222222222  142.1244222555555555555555556

 [3480 rows x 5 columns],
 'parks_and_gardens':               id                            name amenity  \
 0      356849465                    Hopkins Park    None
 1      530605948                             N/A    None
 2      647402239  Katandra Football Netball Club    None
 3     1466700636                Websters Reserve    None
 4     1623467620                   Azalea Garden    None
 ...          ...                             ...     ...
 6520  1317812583        Austral Crescent Reserve    None
 6521  1317812586           Olstead Drive Reserve    None
 6522  1317814542                   Rotaract Park    None
 6523  1317814546           Delepan Drive Reserve    None
 6524  1317837500             Cameron Way Reserve    None

                                  lat                            lon
 0                         28.7894348                    -96.9933204
 1                        -37.8326547                    145.0212610
 2                        -36.2280815                    145.5605266
 3                        -37.7477873                    145.1555882
 4                        -37.5479449                    143.8211099
 ...                              ...                            ...
 6520  -38.19663552142857142857142857  145.1454630785714285714285714
 6521                     -38.1963678  145.1538017692307692307692308
 6522                     -38.2564422  145.1878449166666666666666667
 6523  -38.25476975384615384615384615                    145.1846267
 6524  -38.20588621666666666666666667  145.0840440222222222222222222

 [6525 rows x 5 columns],
 'train_station':              id            name amenity                             lat  \
 0      27071462  Mount Waverley    None                     -37.8752637
 1      27091664     Jordanville    None                     -37.8736635
 2      27123069    East Malvern    None                     -37.8768611
 3      29749085     Mooroolbark    None                     -37.7846970
 4      29764097       Ashburton    None                     -37.8620470
 ..          ...             ...     ...                             ...
 346  1215980246   Kangaroo Flat    None  -36.79497101111111111111111111
 347  1237457726   Menzies Creek    None  -37.92083737142857142857142857
 348  1239287414   Greensborough    None  -37.70378220526315789473684211
 349  1257414940        Lilydale    None                     -37.7570911
 350  1289497111       Keon Park    None                     -37.6956968

                                lon
 0                      145.1281258
 1                      145.1122691
 2                      145.0691707
 3                      145.3131856
 4                      145.0812907
 ..                             ...
 346  144.2488350111111111111111111
 347  145.4051197857142857142857143
 348  145.1079064421052631578947368
 349                   145.34592348
 350                    145.0117068

 [351 rows x 5 columns],
 'shopping':               id                 name amenity                             lat  \
 0       32193447                  IGA    None                     -37.2773622
 1      218028470                Coles    None                     -37.7914336
 2      222420863            Foodworks    None                     -37.7889872
 3      247822855  The Old Farm Market    None                      48.4379459
 4      258471456                Coles    None                     -37.8547864
 ...          ...                  ...     ...                             ...
 1803  1301257943  Wholefood Merchants    None  -37.88232947777777777777777778
 1804  1301257947  Wholefood Merchants    None  -37.88297507142857142857142857
 1805  1304559313            Foodworks    None                    -37.61043635
 1806  1309186570            Foodworks    None  -38.07932375714285714285714286
 1807  1316654823        Thrifty Foods    None                     48.44509544

                                 lon
 0                       144.7338613
 1                       145.1718422
 2                       144.9760904
 3                      -123.3124029
 4                       145.1826504
 ...                             ...
 1803  145.2726682777777777777777778
 1804                    145.2728128
 1805  144.9333654666666666666666667
 1806  145.4505262142857142857142857
 1807                  -123.33842918

 [1808 rows x 5 columns],
 'healthcare':              id                                          name   amenity  \
 0      27288796                     Waverley Private Hospital  hospital
 1     206200909                          Manangatang Hospital  hospital
 2     262777337                            Peter James Centre  hospital
 3     395212301                         Access Medical Centre    clinic
 4     429184771             Jessie McPherson Private Hospital  hospital
 ..          ...                                           ...       ...
 946  1304785462  Campbellfield Maternal & Child Health Centre    clinic
 947  1304826622                    Richmond Specialist Centre    clinic
 948  1304964439    Adult Prevention and Recovery Care (APARC)  hospital
 949  1304969755                           Yarra Ranges Health  hospital
 950  1307631634                            Don Street Medical    clinic

                                 lat                            lon
 0                       -37.8843792                    145.1455722
 1                       -35.0511403                    142.8808925
 2                       -37.8526149                    145.1649491
 3                       -37.8709404                    145.2431489
 4                       -37.9208228                    145.1224428
 ..                              ...                            ...
 946                    -37.67542458                   144.96402564
 947  -37.81156081428571428571428571  144.9956853714285714285714286
 948                    -38.14297966                   145.13384752
 949                    -37.75642962                    145.3512619
 950  -36.76175258823529411764705882  144.2693615176470588235294118

 [951 rows x 5 columns]}

### Fetching Major City Coordinates in Victoria

In [7]:
# Define the query to get major cities within Victoria (place = city or town)
query = """
[out:json];
area[name="Victoria"]->.searchArea;
(
  node["place"="city"](area.searchArea);
);
out body;
"""

In [8]:
# Fetches and saves the cities as a dataframe
cities_df = get_cities(overpass_api, query)
cities_df.head(10)

          name place_type          lat          lon
0    Melbourne       city  -37.8142454  144.9631732
1      Mildura       city  -34.1952740  142.1503146
2      Bendigo       city  -36.7590183  144.2826718
3      Geelong       city  -38.1493248  144.3598241
4     Ballarat       city  -37.5623013  143.8605645
5   Shepparton       city  -36.3831633  145.3988874
6  Warrnambool       city  -38.3826242  142.4814199
7    Traralgon       city  -38.1946636  146.5381646
8      Wodonga       city  -36.1205539  146.8880837

### Getting Driving Distance to Cities and Amentities

In [9]:
# Initialising ORS api_keys list
api_keys = ['5b3ce3597851110001cf624842eb8f2652b14c0589793fa6e32db6ba', # Oscar - 2500 limit
            '5b3ce3597851110001cf62484999c1f7edce4ac5a072b1c9fb50ffa2', # Nasser - 500 limit
            '5b3ce3597851110001cf6248fdd0ae85071d43598ef26e7a446a4f78', # Oscar - 500 limit
            '5b3ce3597851110001cf6248c9d76723ef574cf3a8479cd0665e80fa', # Nasser - 2500 limit
            '5b3ce3597851110001cf6248f3f1041174014fbba5afd3b9332b778b', # Uma - 2500 limit
            '5b3ce3597851110001cf6248c64a6697beff46e1903a7e15a67239ad'  # Laura - 500 limit
            '5b3ce3597851110001cf6248250927fcb46d441e9b1560ab5875952d'  # Charlie - 500 limit 
            ]

1. Getting all the distances to the Major Cities

In [ ]:
# Greater Melbourne - oldlisting data

gm_c_oldlisting_df = get_dist_to_city(gm_oldlisting_df, cities_df, api_keys)
gm_c_oldlisting_df.to_csv("../data/raw/oldlisting/gm_c_oldlisting.csv")

In [117]:
# Rest of Vic - oldlisting data

rv_c_oldlisting_df = get_dist_to_city(rv_oldlisting_df, cities_df, api_keys)
rv_c_oldlisting_df.to_csv("../data/raw/oldlisting/rv_c_oldlisting.csv")

In [ ]:
# Greater Melbourne - Domain data

gm_c_domain_df = get_dist_to_city(gm_domain_df, cities_df, api_keys)
gm_c_domain_df.to_csv("../data/raw/domain/gm_c_domain.csv")

In [10]:
# Rest of Vic - Domain data

rv_c_domain_df = get_dist_to_city(rv_domain_df, cities_df, api_keys)
rv_c_domain_df.to_csv("../data/raw/domain/rv_c_domain.csv")

KeyboardInterrupt:

2. Getting all the distances to the Amenities

In [9]:
# Greater Melbourne - oldlisting data

gm_c_a_oldlisting_df = get_amenity_distances(gm_c_oldlisting_df, amenities_dfs, api_keys)
gm_c_a_oldlisting_df.to_csv("../data/raw/oldlisting/gm_c+a_oldlisting.csv")

Processing education...
Error with batch 0.0: 403 ({'error': 'Quota exceeded'})
Quota limit exceeded for API key 5b3ce3597851110001cf62484999c1f7edce4ac5a072b1c9fb50ffa2
Using a new key... Waiting for 10 seconds before continuing.
Error with batch 360.0: HTTP Error: 502
Unhandled error occurred: HTTP Error: 502. Retrying after 10 seconds...
Processing parks_and_gardens...
Error with batch 0.0: 403 ({'error': 'Quota exceeded'})
Quota limit exceeded for API key 5b3ce3597851110001cf62484999c1f7edce4ac5a072b1c9fb50ffa2
Using a new key... Waiting for 10 seconds before continuing.
Error with batch 148.0: 403 ({'error': 'Quota exceeded'})
Quota limit exceeded for API key 5b3ce3597851110001cf6248fdd0ae85071d43598ef26e7a446a4f78
Using a new key... Waiting for 10 seconds before continuing.
Processing train_station...
Error with batch 0.0: 403 ({'error': 'Quota exceeded'})
Quota limit exceeded for API key 5b3ce3597851110001cf62484999c1f7edce4ac5a072b1c9fb50ffa2
Using a new key... Waiting for 10 seconds before continuing.
Error with batch 0.0: 403 ({'error': 'Quota exceeded'})
Quota limit exceeded for API key 5b3ce3597851110001cf6248fdd0ae85071d43598ef26e7a446a4f78
Using a new key... Waiting for 10 seconds before continuing.
Error with batch 114.0: HTTP Error: 502
Unhandled error occurred: HTTP Error: 502. Retrying after 10 seconds...
Processing shopping...
Error with batch 0.0: 403 ({'error': 'Quota exceeded'})
Quota limit exceeded for API key 5b3ce3597851110001cf62484999c1f7edce4ac5a072b1c9fb50ffa2
Using a new key... Waiting for 10 seconds before continuing.
Error with batch 0.0: 403 ({'error': 'Quota exceeded'})
Quota limit exceeded for API key 5b3ce3597851110001cf6248fdd0ae85071d43598ef26e7a446a4f78
Using a new key... Waiting for 10 seconds before continuing.
Processing healthcare...
Error with batch 0.0: 403 ({'error': 'Quota exceeded'})
Quota limit exceeded for API key 5b3ce3597851110001cf62484999c1f7edce4ac5a072b1c9fb50ffa2
Using a new key... Waiting for 10 seconds before continuing.
Error with batch 0.0: 403 ({'error': 'Quota exceeded'})
Quota limit exceeded for API key 5b3ce3597851110001cf6248fdd0ae85071d43598ef26e7a446a4f78
Using a new key... Waiting for 10 seconds before continuing.
Error with batch 95.0: HTTP Error: 502
Unhandled error occurred: HTTP Error: 502. Retrying after 10 seconds...

In [119]:
# Rest of Vic - oldlisting data

rv_c_a_oldlisting_df = get_amenity_distances(rv_c_oldlisting_df, amenities_dfs, api_keys)
rv_c_a_oldlisting_df.to_csv("../data/raw/oldlisting/rv_c+a_oldlisting.csv")

Processing education...
Processing parks_and_gardens...
Processing train_station...
Processing shopping...
Error with batch 186.0: HTTP Error: 502
Unexpected error occurred: HTTP Error: 502.
Retrying after 3 seconds...
Processing healthcare...

In [ ]:
# Greater Melbourne - Domain data

gm_c_a_domain_df = get_amenity_distances(gm_c_domain_df, amenities_dfs, api_keys)
gm_c_a_domain_df.to_csv("../data/raw/domain/gm_c+a_domain.csv")

In [11]:
# Rest of Vic - Domain data
rv_c_domain_df = pd.read_csv("../data/raw/domain/rv_c_domain.csv")
rv_c_a_domain_df = get_amenity_distances(rv_c_domain_df, amenities_dfs, api_keys)
rv_c_a_domain_df.to_csv("../data/raw/domain/rv_c+a_domain.csv")

Processing education...
Processing parks_and_gardens...
Processing train_station...
Processing shopping...
Processing healthcare...