# Calculating Proximity to Melb CBD

- need to change api_key to your api

In [7]:
import time
from openrouteservice import Client
import math
import pandas as pd

In [8]:
domain_df = pd.read_parquet('../data/raw/all_domain_properties.parquet')

# Display the DataFrame
domain_df.head()

,parking,property_type,date_available,weekly_cost,address,suburb,postcode,beds,baths,latitude,longitude
0,1,Unit,2024,895.0,None,None,None,3,2,-37.9180621,145.0437866
1,1,Unit,2024,500.0,1/37 brougham street,box hill,3128,2,1,-37.8215748,145.1156929
2,1,Unit,2024,400.0,2/137 market road,werribee,3030,3,2,-37.8898187,144.6537343
3,2,House,2024,548.0,61 pinnacle drive,pakenham,3810,4,2,-38.0839375,145.451479
4,2,Unit,2024,1300.0,2703/368 st kilda road,melbourne,3004,2,2,-37.8318264,144.9710642

In [11]:
# Check lat and longs are valid
print(domain_df['latitude'].apply(type).value_counts())

# Check lat and longs are valid
print(domain_df['latitude'].apply(type).value_counts())

latitude
<class 'str'>    13072
Name: count, dtype: int64
latitude
<class 'str'>    13072
Name: count, dtype: int64

In [12]:
# Initialize OpenRouteService client
api_key ='5b3ce3597851110001cf62483425e548d4ed4c2ca4a6b5814be96094' # PLUG IN YOUR API KEY HERE
client = Client(key=api_key)

# Define Melbourne CBD coordinates
melb_cbd = [144.962646, -37.810272]

def calculate_distances_to_cbd(properties, batch_size):
    distances_to_cbd = []
    num_batches = math.ceil(len(properties) / batch_size)

    for i in range(num_batches):
        # Get current batch of properties
        batch = properties[i * batch_size: (i + 1) * batch_size]
        # Create matrix request with properties as sources and Melb CBD as the destination
        locations = batch + [melb_cbd]  # Batch properties + CBD point

        while True:
            try:
                # Perform matrix request
                response = client.distance_matrix(
                    locations=locations,
                    profile='driving-car',
                    metrics=['distance'],
                    sources=list(range(len(batch))),  # Sources: property indices
                    destinations=[len(batch)]  # Destination: index of Melb CBD
                )

                # Extract distances from response (km)
                distances = [response['distances'][j][0] / 1000 for j in range(len(batch))]
                distances_to_cbd.extend(distances)
                break  # Exit the loop if successful

            except Exception as e:
                print(f"Error with batch {i+1}: {e}")
                if "Rate limit exceeded" in str(e):
                    print("Rate limit exceeded. Waiting for 60 seconds...")
                    time.sleep(60)  # Wait for a minute before retrying
                else:
                    distances_to_cbd.extend([None] * len(batch))  # Append None for failed requests
                    break  # Exit the loop on other errors

        time.sleep(2)  # additional delay between batches

    return distances_to_cbd

## Running Function on Rental Properties

- change domain_df to your df

In [13]:
# Convert the coordinates column to a list of [longitude, latitude] pairs
property_coordinates = domain_df[['longitude', 'latitude']].values.tolist()

# Calculate distances
distances = calculate_distances_to_cbd(property_coordinates, batch_size=50)

# Add the distances as a new column 'dist_cbd' to the original DataFrame
domain_df['dist_cbd'] = distances

# Display the updated DataFrame with the new column
domain_df.head(50)

,parking,property_type,date_available,weekly_cost,address,suburb,postcode,beds,baths,latitude,longitude,dist_cbd
0,1,Unit,2024,895.0,None,None,None,3,2,-37.9180621,145.0437866,18.64398
1,1,Unit,2024,500.0,1/37 brougham street,box hill,3128,2,1,-37.8215748,145.1156929,19.62262
2,1,Unit,2024,400.0,2/137 market road,werribee,3030,3,2,-37.8898187,144.6537343,33.79973
3,2,House,2024,548.0,61 pinnacle drive,pakenham,3810,4,2,-38.0839375,145.451479,58.34248
4,2,Unit,2024,1300.0,2703/368 st kilda road,melbourne,3004,2,2,-37.8318264,144.9710642,3.16452

In [14]:
# Display the updated DataFrame with the new column
domain_df.head(50)

,parking,property_type,date_available,weekly_cost,address,suburb,postcode,beds,baths,latitude,longitude,dist_cbd
0,1,Unit,2024,895.0,None,None,None,3,2,-37.9180621,145.0437866,18.64398
1,1,Unit,2024,500.0,1/37 brougham street,box hill,3128,2,1,-37.8215748,145.1156929,19.62262
2,1,Unit,2024,400.0,2/137 market road,werribee,3030,3,2,-37.8898187,144.6537343,33.79973
3,2,House,2024,548.0,61 pinnacle drive,pakenham,3810,4,2,-38.0839375,145.451479,58.34248
4,2,Unit,2024,1300.0,2703/368 st kilda road,melbourne,3004,2,2,-37.8318264,144.9710642,3.16452
5,2,House,2024,670.0,4 chevalier crescent,mooroolbark,3138,3,2,-37.7677611,145.3230364,38.69936
6,4,House,2024,500.0,45 stanley street,toora,3962,1,1,-38.6647862,146.3241998,183.01992
7,1,Townhouse,2024,855.0,54 nelson street,st kilda,3182,3,2,-37.8563704,144.9864482,6.79802
8,1,Unit,2024,530.0,307/12 waterview walk,docklands,3008,1,1,-37.8194723,144.9478449,3.17894
9,0,Unit,2024,460.0,1804/618 lonsdale street,melbourne,3000,1,1,-37.81441450000001,144.9539107,1.83070
10,0,Unit,2024,450.0,809/570 swanston street,carlton,3053,2,1,-37.8033064,144.9637506,1.22543
11,2,House,2024,530.0,9 kinross street,beveridge,3753,4,2,-37.48112649999999,144.9661132,45.67001
12,0,Unit,2024,570.0,5208/500 elizabeth street,melbourne,3000,1,1,-37.8071364,144.9603738,1.11982
13,1,House,2024,425.0,113/2 golding street,hawthorn,3122,1,1,-37.8221338,145.0328928,7.47986
14,2,Townhouse,2024,1200.0,3/31 malcolm ct,mount waverley,3149,4,3,-37.878214,145.1117238,19.33444
15,1,House,2024,600.0,29 yarra road,croydon,3136,3,2,-37.784048,145.2742747,33.14322
16,1,Unit,2024,600.0,318/15 doepel way,docklands,3008,1,1,-37.8148335,144.9400507,3.65344
17,2,House,2024,515.0,99 bowen street,echuca,3564,3,1,-36.1321598,144.7645703,218.04686
18,2,House,2024,490.0,54 attunga grove,werribee,3030,3,2,-37.9007363,144.6143032,42.84005
19,1,Unit,2024,695.0,64a illawarra road,hawthorn,3122,2,1,-37.8347403,145.0393173,9.57225
20,1,House,2024,400.0,793 fourteenth street,mildura,3500,3,1,-34.2007705,142.1495069,541.37038
21,1,Unit,2024,430.0,103/4 la scala avenue,maribyrnong,3032,1,1,-37.7804344,144.8930899,10.53003
22,1,House,2024,500.0,141 ninth avenue,rosebud,3939,3,1,-38.3625096,144.9041577,91.24927
23,0,Unit,2024,700.0,18/58 queens road,melbourne,3004,3,1,-37.8483868,144.9779003,5.31426
24,1,House,2024,650.0,105 parer road,airport west,3042,3,2,-37.7194625,144.8801899,16.04032
25,0,Unit,2024,473.0,5/142-152 townsend road,st albans park,3219,1,1,-38.1822914,144.3975105,80.75770
26,0,House,2024,345.0,52 childers street,cranbourne,3977,1,1,-38.112789,145.289034,53.97405
27,2,House,2024,465.0,32 fortescue boulevard,wyndham vale,3024,4,2,-37.8800361,144.6030911,39.19021
28,2,Townhouse,2024,720.0,1/30 nolan street,frankston,3199,4,2,-38.1498022,145.119703,54.24218
29,2,House,2024,480.0,86 farm crescent,donnybrook,3064,4,2,-37.534953,144.9910078,41.17866
30,1,House,2024,540.0,33 lavender street,wollert,3750,3,2,-37.5832788,145.0203142,39.76217
31,2,House,2024,495.0,18 aspen street,winter valley,3358,4,2,-37.5862861,143.7950713,122.68755
32,2,House,2024,420.0,29 barwon terrace,winchelsea,3241,3,1,-38.2413118,143.9919517,114.34002
33,1,Unit,2024,488.0,104 alexandra street,st kilda east,3183,1,1,-37.8624473,145.0038643,9.14726
34,2,House,2024,530.0,16 henry lawson walk,point cook,3030,3,2,-37.8859229,144.7288192,27.09719
35,0,Unit,2024,540.0,116/60 waverley road,malvern east,3145,2,1,-37.8759147,145.0464323,13.74504
36,1,Unit,2024,460.0,4/8 podmore street,dandenong,3175,2,1,-37.9975186,145.2151167,38.10028
37,2,House,2024,1250.0,68 york street,caulfield south,3162,5,3,-37.8900183,145.017422,14.63221
38,2,House,2024,460.0,11 prophecy road,bonshaw,3352,4,2,-37.5990297,143.8205921,120.90541
39,1,Unit,2024,565.0,g07/2-4 murray street,brunswick west,3055,2,2,-37.7595601,144.9438613,8.11786
40,1,Townhouse,2024,595.0,29 patrobas lp,", cranbourne east",3977,4,2,-38.1310794,145.3085309,57.92238
41,2,House,2024,565.0,25 bakanovi drive,truganina,3029,4,2,-37.76119509999999,144.674333,37.96698
42,1,Unit,2024,330.0,10/45 otway street south,ballarat east,3350,2,1,-37.5674014,143.8774482,114.40530
43,1,House,2024,880.0,13 tennyson street,kensington,3031,4,1,-37.7980556,144.9302592,4.88172
44,0,House,2024,270.0,63 pintail drive,melton south,3338,1,1,-37.7198837,144.5800032,48.17737
45,2,House,2024,520.0,2 azure close,irymple,3498,3,2,-34.2308492,142.167227,536.76831
46,1,Unit,2024,600.0,112 adderley street,west melbourne,3003,1,1,-37.8106655,144.9479612,2.73235
47,1,House,2024,540.0,57b lorne street,fawkner,3060,3,1,-37.716064,144.971206,12.55307
48,1,House,2024,360.0,5/91 grant st,sebastopol,3356,2,1,-37.5940564,143.8322615,119.76716
49,1,House,2024,550.0,13 playfield drive,truganina,3029,4,2,-37.8256776,144.7275624,28.96082